  <div id="head-wrap">
    <div id="navbar"></div>
    <div id="searchbar"></div>
  </div>
  <section class="content">
    <div class="sidebar"></div>
    <div class="notes-list"></div>
    <div class="note-show"></div>
  </section>

 <!-- on document ready, run this function  -->
<script>
  var currentUser = "<%= current_user.email %>";
  $(function(){
    Feathernote.initialize( {currentUser: currentUser} )
  });
</script>
