  <div id="navbar"></div>
  <div id="searchbar"></div>
  <div class="content">
    <div id="note-show" style="float:right"></div>
    <div class="indexes">
      <div id="sidebar" style="float:left"></div>
      <div id="notes-list"></div>
    </div>
  </div>

 <!-- on document ready, run this function  -->
<script>
  var currentUser = "<%= current_user.email %>";
  $(function(){
    FeatherNote.initialize( {currentUser: currentUser} )
  });
</script>
