
<div id="topsection">
    <div id="navbar"></div>
    <div id="searchbar"></div>
</div>
<div id="maincontainer">

  <div id="contentwrapper">
    <div id="contentcolumn">
    <div class="innertube"><div class="note-show"></div></div>
    </div>
  </div>

  <div id="leftcolumn">
    <div class="innertube" style="width: 100%"><div class="sidebar"></div></div>
  </div>

  <div id="rightcolumn">
  <div class="notes-list"></div>
  </div>
</div>

 <!-- on document ready, run this function  -->
<script>
  var currentUser = "<%= current_user.email %>";
  $(function(){
    Feathernote.initialize( {currentUser: currentUser} )
  });
</script>
