<div class="top-border"></div>
<img id="welcome-logo" src="<%= image_path('final-welcome-logo.png') %>" />

<form class="form-style-9" action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <ul>
  <li>
    <label>Email address
    <input type="text" class="field-style field-full align-none" name="user[email]" placeholder="e.g. john@doe.com" value="<%= @user.email if @user %>">
    </label>
  </li>
  <li>
    <label>Password
      <br><input type="password" class="field-style field-full align-none" name="user[password]">
    </label>
  </li>
  <li>
    <input type="submit" value="Sign in">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Don't have an account?
  </li>
  </ul>
</form>
