<div class="top-border"></div>
<img id="welcome-logo" src="<%= image_path('feathernote-welcome-logo.png') %>" />

<section class="animate-wrapper">
<div class='preload login--container'>
  <form class='login--form' action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class='login--username-container'>
      <label>Email address</label>
      <input autofocus placeholder='Email address' type='text' name="user[email]" >
    </div>
    <div class='login--password-container'>
      <label>Password</label>
      <input name="user[password]" placeholder='Password' type='password'>
      <input type="submit" class='js-toggle-login login--login-submit' value="Sign in">
    </div>
  </form>
  <div class='login--toggle-container'>
    <small>Hello,&nbsp;</small>
    <div class='js-toggle-login'>Login</div>
    <!-- <small>here</small> -->
  </div>
</div>
</section>

<script type="text/javascript">
(function () {
  $(function () {
      $('.login--container').removeClass('preload');
      this.timer = window.setTimeout(function (_this) {
          return function () {
              return $('.login--container').toggleClass('login--active');
          };
      }(this), 2000);
      return $('.js-toggle-login').click(function (_this) {
          return function () {
              window.clearTimeout(_this.timer);
              $('.login--container').toggleClass('login--active');
              return $('.login--username-container input').focus();
          };
      }(this));
  });
}.call(this));
</script>
