<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Your email address
    <input type="text" name="user[email]" value="<%= @user.email if @user %>">
  </label>
  <br>
  <label>Password
    <input type="password" name="user[password]">
  </label>
  <input type="submit" value="Sign in">
</form>
