<ul>
  <% notebooks.each(function(notebook){ %>
  <li class="notebook-name-sidebar", data-notebook-id="<%= notebook.id %>"><a href="#/notebooks/<%= notebook.id %>"><%= notebook.escape("name") %></a></li>
  <%  })  %>
</ul>
