<ul>
  <li class="all-notes-sidebar"><a href="#/notes/all"><i class="fa fa-file-text">&nbsp;All Notes</i></a></li>
    <% notebooks.each(function(notebook){ %>
  <li class="notebook-name-sidebar"><a href="#/notebooks/<%= notebook.id %>"><i class="fa fa-book">&nbsp;<%= notebook.escape("name") %></i></a></li>
    <%  })  %>
</ul>
