<style>
  body {
    background-color: #FDFDFD;
    background-position: 10px 0px, 0px 0px;
    background-image: radial-gradient(#c0c0c0 5%, transparent 6%);
    background-image: -webkit-radial-gradient(#c0c0c0 5%, transparent 6%);
    background-size: 35px 35px;
  }
</style>

<div class="top-border"></div>
<img id="welcome-logo" src="<%= image_path('welcome-logo-feathernote.png') %>" />
<div class="errors">
  <% if flash[:errors] %>
  <i class='fa fa-exclamation-circle'></i>
    <%= flash[:errors].join("<br> <i class='fa fa-exclamation-circle'></i>&nbsp;").html_safe  %>
  <% end %>
</div>

<section class="animate-wrapper">
<div class='preload login--container'>
  <form class='login--form' action="<%= users_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class='login--username-container'>
      <label>Your Email Address</label>
      <input autofocus placeholder='Email address' type='text' name="user[email]" >
    </div>
    <div class='login--password-container'>
      <label>Create a Password</label>
      <input name="user[password]" placeholder='Password' type='password'>
      <input type="submit" class='js-toggle-login login--login-submit' value="Create Account">
      <a id="session-users-new" href="/session/new">Already have an account? Sign in</a>
    </div>
  </form>
  <div class='login--toggle-container'>
    <small>Hello,&nbsp;</small>
    <div class='js-toggle-login'>Sign up</div>
    <!-- <small>here</small> -->
  </div>
</div>
</section>
<!-- <img src="http://www.auplod.com/u/ludpao59783.png" id="coming-soon" style="position: absolute; right: 10%; top: 10%;" /> -->
<section class="animate-button">
  <div class="round-button"><div class="round-button-circle"><a href="#" class="round-button demo">Click Here to Demo!</a></div></div>
</section>

<script type="text/javascript">
(function () {
  if($("section").is(".animate-wrapper")){
  $(function () {
      $('.login--container').removeClass('preload');
      this.timer = window.setTimeout(function (_this) {
          return function () {
              return $('.login--container').toggleClass('login--active');
          };
      }(this), 2000);
      return $('.js-toggle-login').click(function (_this) {
          return function () {
              window.clearTimeout(_this.timer);
              $('.login--container').toggleClass('login--active');
              return $('.login--username-container input').focus();
          };
      }(this));
  });
}
}.call(this));
</script>

<script type="text/javascript">
  $(".demo").on("click", function() {
    $("input[type='text']").attr("value", "demo@feathernote.me");
    $("input[type='password']").attr("value", "feathernote");
    setTimeout(function(){
      $("input[type='submit']").click();
    }, 1500)
  })
</script>
