<img id="app-logo" src="http://i.imgur.com/iWmKW3B.png" border=0/>

<div class="search-input">
  <input type="text" value="" class="notes-search">
  <i class="fa fa-search"></i>
  <i class="fa fa-times-circle"></i>
</div>

<div class="new-note">
  <button id="new-note" type="button" class="create-note">
    <i class="fa fa-plus"></i>&nbsp;New Note</button>
</div>
