<img id="app-logo" src="http://i.imgur.com/iWmKW3B.png" border=0/>

<div>
  <input type="text" value="" class="notes-search">
  <i class="fa fa-search"></i>
</div>

<div class="searchbar-content">
  <button id="new-note"type="button" class="create-note">+ New Note</button>
</div>
