<div class="s-wrap-1">
  <img id="app-logo" src="http://i.imgur.com/iWmKW3B.png" border=0/>
</div>

<div class="search-input">
  <input type="text" value="" class="notes-search" placeholder="Search notes instantly">
  <i class="fa fa-search"></i>
  <!-- <i class="fa fa-times-circle"></i> -->
</div>

<div class="new-note">
  <button class="button create-note">
    <span><i class="fa fa-plus">&nbsp;</i>New Note</span>
  </button>
</div>
