<section class="notes-list-content">
  <ul class="note-preview">
    <% notes.each(function(note){ %>
      <section class="preview-note-link">
        <% if(all){ %>
          <a href="#/notes/all/<%= note.id %>"><span class="link-spanner"></span></a>
        <% } else { %>
          <a href="#/notes/<%= note.id %>"><span class="link-spanner"></a>
      <% } %>
      <li>
        <% var title = note.escape("title") %>
        <div id="preview-note-title"><%= $("<p>").html(title).text() %></div>
        <% var body = note.escape("body") %>
        <div id="preview-note-body"><%= $("<p>").html(body).text()
 %></div>
      </li>
    </section>
    <% }) %>
  </ul>
</section>
