<div id="navbar"></div>
<div id="searchbar"></div>
<div id="content">
    <div id="note-show"></div>
    <div id="notes-list"></div>
    <div id="sidebar"></div>
</div>
<script>$(FeatherNote.initialize);</script>
