<div class="navbar"></div>
<div class="searchbar"></div>
<div class="content">
    <div class="notes-show"></div>
    <div class="notes-list"></div>
    <div class="sidebar"></div>
</div>
<script>$(FeatherNote.initialize);</script>
