/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@font-face {
  font-family: 'Roboto', sans-serif;
}

/* RESET */

html, body, header, section, div, span, h1, h2, h3, a, form, ul, li, i {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  height: 100%;
  width: 100%;
}

input[type="text"],
input[type="textarea"],
input[type="submit"] {
  -webkit-appearance: none;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

input[type="submit"] {
  display: inline;
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f3f3;
  background-position: 8px -2px, 0px 0px;
  background-image: radial-gradient(#c0c0c0 5%, transparent 6%);
  background-image: -webkit-radial-gradient(#c0c0c0 5%, transparent 6%);
  background-size: 35px 35px;
  overflow: hidden;
}

.hidden {
  display: none;
}

button:focus {
  outline: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

ul {
  list-style: none;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

/*Login Page*/

.top-border {
  width: 100%;
  background-color: #3B5999;
  height: .5em;
  border-bottom: 1px solid #fff;
}

#welcome-logo {
  width: 80%;
  display: block;
  margin: auto;
}

/* internal-header-wrapper */
#head-wrap {
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 81px;
}

/*Navbar*/

#navbar {
  box-sizing: border-box;
  background: -webkit-linear-gradient(90deg, #3B5999 10%, #348AC7 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #3B5999 10%, #348AC7 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #3B5999 10%, #348AC7 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #3B5999 10%, #348AC7 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #3B5999 10%, #348AC7 90%); /* W3C */

  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #B3B3B3;
  color: #fff;
  width: 100%;
  min-height: 32px;
}

.bb-navbar{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.bb-navbar * {
  box-sizing: border-box;
}

.bb-navbar ul {
  float: right;
  text-align: center;
  display: inline;
  margin: 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.bb-navbar ul li {
  display: inline-block;
  position: relative;
  padding: 6px 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.bb-navbar ul li:hover {
  background: #348AC7;
  color: #fff;
}
.bb-navbar ul li ul {
  padding: 0;
  position: absolute;
  top: 31px;
  right: 0;
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

.bb-navbar ul li ul li {
  height: 46px;
  top: 1px;
  background: #EDF0F0;
  display: block;
  color: #3b5999;
  padding-top: 0.6em;
  /*text-shadow: 0 -1px 0 #000;*/
  border-bottom-left-radius: .25em;
  border-bottom-left-radius: .25em;
}
.bb-navbar ul li ul li:hover {
  background: #EDF0F0;
  color: #3b5999; }

.bb-navbar ul li:hover ul {
  display: inline;
  opacity: 1;
  visibility: visible;
}

/*Searchbar*/

#searchbar{
  background: rgba(237,240,240,1);
  background: -moz-linear-gradient(left, rgba(237,240,240,1) 0%, rgba(237,240,240,1) 59%, rgba(246,246,246,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,240,240,1)), color-stop(59%, rgba(237,240,240,1)), color-stop(100%, rgba(246,246,246,1)));
  background: -webkit-linear-gradient(left, rgba(237,240,240,1) 0%, rgba(237,240,240,1) 59%, rgba(246,246,246,1) 100%);
  background: -o-linear-gradient(left, rgba(237,240,240,1) 0%, rgba(237,240,240,1) 59%, rgba(246,246,246,1) 100%);
  background: -ms-linear-gradient(left, rgba(237,240,240,1) 0%, rgba(237,240,240,1) 59%, rgba(246,246,246,1) 100%);
  background: linear-gradient(to right, rgba(237,240,240,1) 0%, rgba(237,240,240,1) 59%, rgba(246,246,246,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf0f0', endColorstr='#f6f6f6', GradientType=1 );

  box-sizing: border-box;
  border-bottom: 1px solid #B3B3B3;
  width: 100%;
  min-height: 49px;
}

.s-wrap-1{
  float: left;
  height: 100%;
  width: 13%;
}

#app-logo{
  padding-left: 3%;
}

div.search-input{
  float: left;
  height: 100%;
  width: 20%;
  padding-top: 1em;
}


input.notes-search {
  width: 90%;
  margin: 0 auto;
  text-indent: 8px;
  height: 2.25em;
  border: 1px solid #B3B3B3;
  border-radius: 5px;
}

.new-note {
  width: 67%;
  float: left;
  padding-top: 1em;
}
.new-note button {
  background: #348AC7;
  color: #ffffff;
  margin-left: 1em;
  width: 10em;
  height: 2.5em;
  border-radius: 5px;
  cursor: pointer;
}

/*Content Wrapper*/

.content{
    position: fixed;
    top: 81px;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#save-status{
  display: inline;
}
