/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
}

button:focus {
  outline: none;
}

/*General Internal Styling*/

body{
	margin:0;
	padding:0;
	line-height: 1.5em;
	font-family: 'Roboto', sans-serif;
}

.clearfix:after {
	display: block;
	content: "";
	clear: both;
}

.hidden {
  display: none;
}

#topsection{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 90px; /*Height of top section*/
}

#topsection h1{
	margin: 0;
	padding-top: 15px;
}

#maincontainer {
	position: fixed;
	top: 81px;
	left: 0;
	bottom: 10px;
	right: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

#contentwrapper{
	float: right;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-left: -450px; /*Set left margin to -(leftColumnWidth + RightColumnWidth)*/

}

#contentcolumn{
	margin-left: 450px; /*Set left margin to (leftColumnWidth + RightColumnWidth)*/
	background: #F5F5F5;
}

#leftcolumn{
	float: left;
	box-sizing: border-box;
	width: 190px; /*Width of left column in pixels*/
	height: 100%;
	background: #EAEDEF;
	border-right: 1px solid #B3B3B3;
	overflow-y: scroll;
	overflow-x: hidden;
}

#rightcolumn{
	float: left;
	box-sizing: border-box;
	width: 260px; /*Width of right column in pixels*/
	height: 100%;
	background: white;
	border-right: 1px solid #b3b3b3;
	overflow-y: scroll;
	overflow-x: hidden;
}

#footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 10px;
	background: blue;
	color: #FFF;
	text-align: center;
	/*padding: 4px 0;*/
}

#footer a{
	color: #FFFF80;
}

.innertube{
	margin: 1px; /*Margins for inner DIV inside each column (to provide padding)*/
	margin-top: 0;
	height: 100%
}

.errors {
		box-sizing: border-box;
	  text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		color: #D63301;
	  width: 50%;
	  margin: 0 auto;
	  padding-bottom: 1%;
	  border-radius: 3px;
}

/* ####### responsive layout CSS ####### */

@media (max-width: 840px){ /* 1st level responsive layout break point- drop right column down*/

	#rightcolumn{
		float: none;
		width: 100%;
		margin-left: 0;
		clear: both;
	}

	#contentcolumn{
		margin-left: 190px; /*Set to leftColumnWidth */
	}

	#contentwrapper{
		margin-left: -190px; /*Set to -leftColumnWidth*/
	}
}

@media (max-width: 600px){ /* 2nd level responsive layout break point- drop left column down */
	#leftcolumn{
		float: none;
		width: 100%;
		clear: both;
		margin-left: 0;
	}

	#contentcolumn{
		margin-left: 0;
	}

	#contentwrapper{
		margin-left: 0;
	}
}

/*Navbar*/

#navbar {
  box-sizing: border-box;
  background: -webkit-linear-gradient(90deg, #3B5999 10%, #348AC7 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #3B5999 10%, #348AC7 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #3B5999 10%, #348AC7 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #3B5999 10%, #348AC7 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #3B5999 10%, #348AC7 90%); /* W3C */

  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #B3B3B3;
  color: #fff;
  width: 100%;
  min-height: 32px;
}

.bb-navbar{
  height: 31px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.bb-navbar * {
  box-sizing: border-box;
}

.bb-navbar ul {
  float: right;
  text-align: center;
  display: inline;
  margin: 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.bb-navbar ul li {
  display: inline-block;
  position: relative;
  padding: 1%;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.bb-navbar ul li:hover {
  background: #348AC7;
  color: #fff;
}
.bb-navbar ul li ul {
  padding: 0;
  position: absolute;
  top: 31px;
  right: 0;
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

.bb-navbar ul li ul li {
  height: 46px;
  top: 1px;
  background: #EDF0F0;
  display: block;
  color: #3b5999;
  padding-top: 0.6em;
  border-bottom-left-radius: .25em;
  border-bottom-left-radius: .25em;
}
.bb-navbar ul li ul li:hover {
  background: #EDF0F0;
  color: #3b5999; }

.bb-navbar ul li:hover ul {
  display: inline;
  opacity: 1;
  visibility: visible;
}

/*Searchbar*/

#searchbar{
  background: rgba(237,240,240,1);
  background: -moz-linear-gradient(left, rgba(237,240,240,1) 0%, rgba(237,240,240,1) 59%, rgba(246,246,246,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,240,240,1)), color-stop(59%, rgba(237,240,240,1)), color-stop(100%, rgba(246,246,246,1)));
  background: -webkit-linear-gradient(left, rgba(237,240,240,1) 0%, rgba(237,240,240,1) 59%, rgba(246,246,246,1) 100%);
  background: -o-linear-gradient(left, rgba(237,240,240,1) 0%, rgba(237,240,240,1) 59%, rgba(246,246,246,1) 100%);
  background: -ms-linear-gradient(left, rgba(237,240,240,1) 0%, rgba(237,240,240,1) 59%, rgba(246,246,246,1) 100%);
  background: linear-gradient(to right, rgba(237,240,240,1) 0%, rgba(237,240,240,1) 59%, rgba(246,246,246,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf0f0', endColorstr='#f6f6f6', GradientType=1 );

  box-sizing: border-box;
  border-bottom: 1px solid #B3B3B3;
  width: 100%;
  min-height: 49px;
}

.s-wrap-1{
	height: 48px;
	margin-right: 3%;
}

#app-logo{
  padding-left: 1.5%;
}

div.search-input{
	position: absolute;
  bottom: 1%;
  left: 15%;
  height: 48px;
  width: 245px;
}


input.notes-search {
  width: 90%;
  margin: 0 auto;
  text-indent: 8px;
  height: 2.25em;
  border: 1px solid #B3B3B3;
  border-radius: 5px;
}

.new-note {
		position: absolute;
  	bottom: 1%;
	  left: 35%;
	  box-sizing: border-box;
	  height: 48px;
	  width: 600px;
	  padding-left: 3%;

	.button
	{
		cursor: pointer;
	  letter-spacing: 1px;
	  text-align: center;
	  color: #0C5;
	  margin-left: 1em auto;
		height: 32px;
	  top:0; right:0; bottom:0; left:0;
	  padding: 0.5% 1.5%;
		background: #348AC7;
	  border: 1px solid #3B5999;
	  color: #FFF;
	  border-radius: 5px;
	  overflow: hidden;

	  transition: all 0.5s;
	}

	.button:hover, .button:active
	{
	  text-decoration: none;
		color: #3B5999;
	  border-color: #3B5999;
	  background: #FFF;
	}

	.button span
	{
	  display: inline-block;
	  position: relative;
	  padding-right: 0;

	  transition: padding-right 0.5s;
	}

	.button span:after
	{
		content: '+';
		font-weight: bolder;
		font-size: x-large;
	  position: absolute;
	  top: 0;
	  right: -18px;
	  opacity: 0;
	  width: 10px;
	  height: 10px;
	  margin-top: -10px;

	  background: rgba(0, 0, 0, 0);
	  border-top: none;
	  border-right: none;

	  transition: opacity 0.5s, top 0.5s, right 0.5s;
	}

	.button:hover span, .button:active span
	{
	  padding-right: 30px;
	}

	.button:hover span:after, .button:active span:after
	{
	  transition: opacity 0.5s, top 0.5s, right 0.5s;
	  opacity: 1;
	  border-color: #3B5999;
	  right: 6%;
	}
}

/* Note Show */

.note-show header {
	height: 35px;
  border-bottom: 1px solid #b3b3b3;
}

.note-title input[type="text"],
.note-title input[type="textarea"],
.note-title input[type="submit"] {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  width: auto;
  background: transparent;
  color: inherit;
}

.note-show-save-status {
	float: left;
	font-size: 13px;
  color: #7A7D81;
}

.note-show-save-status i, #save-status{
	line-height: 35px;
	float: left;
	position: relative;
}

#save-status {
	position: relative;
	left: .8em;
}

.note-show-header-right {
  float: right;
  padding-right: 12px;
}

.note-show-header-left {
	float: left;
}

.note-show-header-left > .notebook-name {
  color: rgb(122, 125, 129);
  position: relative;
  float: left;
  padding-left: 14px;
}

.notebook-name > .notebook-name-text {
  font-size: 12px;
  line-height: 36px;
  padding-right: 24px;
  float: left;
  cursor: pointer;
}

.notebook-name > .options-dropdown,
.add-tag > .options-dropdown {
  max-height: 300px;
  width: auto;
  max-width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}


.note-show-header-right .info-text, .note-show-button {
  padding-right: 7px;
  color: #7a7d81;
  font-size: 12px;
  line-height: 36px;
  cursor: pointer;
}

.note-show-button {
  cursor: pointer;
}

.note-show-header-left > .dates > li {
  float: left;
  font-size: 12px;
  color: #7d7e80;
  padding-left: 14px;
  line-height: 34px;
}

.note-content {
	box-sizing: border-box;
	background: white;
  border: 1px solid #A7A7A7;
  border-radius: 3px;
  margin: 12px;
  padding: 10px;
  padding: 1em;
  overflow: auto;
}

form.note-title > input#note-title {
	box-sizing: border-box;
	padding-bottom: 4px;
  border-bottom: 1px solid #A7A7A7;
  font-family: "Caecilia LT Std";
  font-size: 15px;
  color: #7b7c7e;
  width: 100%;
}

form.note-title  {
	width: 100%;
  margin-bottom: 8px;
}

textarea#note-body,
.friend-note-body {
  font-size: 14px;
  line-height: 19px;
  min-height: 300px;
} *

/* Notes List */

.notes-list {
  overflow: auto;
}

.current-notebook-name {
  font-size: 16px;
  line-height: 36px;
  color: #404040;
  border-bottom: 1px solid #b5b5b5;
  padding-left: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.current-notebook-name > i {
  color: #ABABAB;
}

.note-preview {
  background: white;
  border-bottom: 1px solid #e6e6e6;
  padding: 4px 6px 4px 8px;
  color: #5C5C5C;
  font-size: 12px;
  overflow: hidden;
}

.note-preview.selected {
  background: #E4E4E4;
}

.note-preview:hover {
  background: #d1d4d7;
}

.note-preview-body {
  height: 48px;
  padding-top: 1px;
  font-size: 11px;
  line-height: 16px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}

.note-preview-title {
  font-weight: bold;
  font-size: 12px;
  color: black;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.note-preview-time {
  float: left;
  display: inline-block;
  padding-right: 6px;
  color: #4a8db8;
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
}

.notes-list-footer {
  position: fixed;
  background: white;
  width: 360px;
  left: 221px;
  bottom: 0;
  border-top: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
}

.notes-list-footer-left {
  padding: 12px;
  float: left;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.notes-list-footer-right {
  float: right;
  font-size: 12px;
  padding: 12px;
}

.hvr-fade {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
