/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@font-face {
  font-family: 'Roboto', sans-serif;
}

/* RESET */

html, body, header, section, div, span, h1, h2, h3, a, form, ul, li, i {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  height: 100%;
  width: 100%;
}

input[type="text"],
input[type="textarea"],
input[type="submit"] {
  -webkit-appearance: none;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

input[type="submit"] {
  display: inline;
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f3f3;
  background-position: 12px -4px, 0px 0px;
  background-image: radial-gradient(#c0c0c0 5%, transparent 6%);
  background-image: -webkit-radial-gradient(#c0c0c0 5%, transparent 6%);
  background-size: 35px 35px;
  overflow: hidden;
}

.hidden {
  display: none;
}

button:focus {
  outline: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

ul {
  list-style: none;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

/*Login Page*/

.top-border {
  background-color: #3B5999;
  height: .5em;
  border-bottom: 1px solid #fff;
}

#welcome-logo{
  display: block;
  margin: auto;
}

/*Navbar*/

#navbar {
  box-sizing: border-box;
  background: -webkit-linear-gradient(90deg, #3B5999 10%, #348AC7 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #3B5999 10%, #348AC7 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #3B5999 10%, #348AC7 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #3B5999 10%, #348AC7 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #3B5999 10%, #348AC7 90%); /* W3C */

  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #B3B3B3;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
}

.navbar-content{
  width: 100%;
  position: fixed;
  left: 100em;
}

/*Searchbar*/

#searchbar{
  background: rgba(237,240,240,1);
  background: -moz-linear-gradient(left, rgba(237,240,240,1) 0%, rgba(237,240,240,1) 59%, rgba(246,246,246,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,240,240,1)), color-stop(59%, rgba(237,240,240,1)), color-stop(100%, rgba(246,246,246,1)));
  background: -webkit-linear-gradient(left, rgba(237,240,240,1) 0%, rgba(237,240,240,1) 59%, rgba(246,246,246,1) 100%);
  background: -o-linear-gradient(left, rgba(237,240,240,1) 0%, rgba(237,240,240,1) 59%, rgba(246,246,246,1) 100%);
  background: -ms-linear-gradient(left, rgba(237,240,240,1) 0%, rgba(237,240,240,1) 59%, rgba(246,246,246,1) 100%);
  background: linear-gradient(to right, rgba(237,240,240,1) 0%, rgba(237,240,240,1) 59%, rgba(246,246,246,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf0f0', endColorstr='#f6f6f6', GradientType=1 );

  box-sizing: border-box;
  border-bottom: 1px solid #B3B3B3;
  overflow: hidden;
  position: fixed;
  top: 32px;
  left: 0px;
  right: 0px;
  height: 49px;
}

#app-logo{
  float: left;
}

div.search-input{
  position: absolute;
  top: 20px;
  left: 250px;
  width: auto;
}

.notes-search{
  width: 230px
}

.new-note {
  position: absolute;
  top: 25px;
  left: 640px;
  width: auto;
}



/*Content Wrapper*/

.content{
    position: fixed;
    top: 81px;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
}
