/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@font-face {
  font-family: 'Roboto', sans-serif;
}

html, body, header, section, div, span, h1, h2, h3, a, form, ul, li, i {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  height: 100%;
  width: 100%;
}
input[type="text"],
input[type="textarea"],
input[type="submit"] {
  -webkit-appearance: none;
  box-sizing: content-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  width: auto;
  background: transparent;
  color: inherit;
}

input[type="submit"] {
  display: inline;
  cursor: pointer;
}

.hidden {
  display: none;
}

button:focus {
  outline: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f3f3;
  background-position: -1px -1px,4px 3px;
  background-image: radial-gradient(#c0c0c0 5%, transparent 6%);
  background-image: -webkit-radial-gradient(#c0c0c0 5%, transparent 6%);
  background-size: 35px 35px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

ul {
  list-style: none;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

.top-border {
  background-color: #3B5999;
  height: .5em;
  border-bottom: 1px solid #fff;
}

#navbar {
  background: #7db9e8;
  background: -moz-linear-gradient(left, #7db9e8 0%, #3b5999 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #7db9e8), color-stop(100%, #3b5999));
  background: -webkit-linear-gradient(left, #7db9e8 0%, #3b5999 100%);
  background: -o-linear-gradient(left, #7db9e8 0%, #3b5999 100%);
  background: -ms-linear-gradient(left, #7db9e8 0%, #3b5999 100%);
  background: linear-gradient(to right, #7db9e8 0%, #3b5999 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#3b5999', GradientType=1 );

  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #B3B3B3;
  color: #fff;
}

.navbar-content{
  width: 100%;
  position: relative;
  left: 100em;
}

.notes-list {
  height: 100%;
  box-sizing: border-box;
  float: left;
  width: 20%;
  background: white;
  border-right: 1px solid #b3b3b3;
  margin: 0 auto;
  overflow: auto;
}


#searchbar{
  background: rgba(237,240,240,1);
  background: -moz-linear-gradient(left, rgba(237,240,240,1) 0%, rgba(237,240,240,1) 59%, rgba(246,246,246,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,240,240,1)), color-stop(59%, rgba(237,240,240,1)), color-stop(100%, rgba(246,246,246,1)));
  background: -webkit-linear-gradient(left, rgba(237,240,240,1) 0%, rgba(237,240,240,1) 59%, rgba(246,246,246,1) 100%);
  background: -o-linear-gradient(left, rgba(237,240,240,1) 0%, rgba(237,240,240,1) 59%, rgba(246,246,246,1) 100%);
  background: -ms-linear-gradient(left, rgba(237,240,240,1) 0%, rgba(237,240,240,1) 59%, rgba(246,246,246,1) 100%);
  background: linear-gradient(to right, rgba(237,240,240,1) 0%, rgba(237,240,240,1) 59%, rgba(246,246,246,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf0f0', endColorstr='#f6f6f6', GradientType=1 );

  box-sizing: border-box;
  border-bottom: 1px solid #B3B3B3;
  overflow: hidden;
}

.content{
    position: fixed;
    top: 94px;
    bottom: 1px;
    left: 0;
    right: 0;
    overflow: auto;
}

.sidebar {
  height: 100%;
    left: 0;
    right: 0;
    overflow: auto;
}

#welcome-logo{
  display: block;
  margin: auto;
}

form.sign-in, form.create-account {
  margin-left: 40%;
  margin-right:40%;
  width: 100%;
}
#app-logo{
  display: block;
  float: left;
}
.searchbar-content{
  display: block;
  position: relative;
  left: 30em;
  top: 10px;
}

#preview-note-body {
  height: 48px;
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
  padding-top: 1px;
  width: 95%;
  margin: 0 auto;
}

#preview-note-title{
  color: #1d1d1d;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  width: 95%;
  margin: 0 auto;
}

.note-preview li {
  box-sizing: border-box;
  height: 75px;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
  padding-left: 3px;
  padding-top: 5px;
  width: 100%;
  margin: 0 auto;
}

.note-preview li:hover {
  background: #D1D4D7;
}
